/*========= const ===========*/

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  transition: 0.3s;
}

a:hover {
  color: rgba(0,0,0,1);
}

/*========= headear ===========*/

.header {
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5em;
  background-color: yellow;
}

/* .header .logo { */
.header h1 {
  /* width: 100%;
  height: 100%; */
  background-color: green;
  font-size: 30px;
  text-align: center;
}

.header .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  width: 35%;
  min-width: 15em;
}



.greeting {
  margin-top: 5em;
  width: 100vw;
  min-height: 30em;
  height: calc(100vh - 5em);
  /* text-align: center; */
  background-color: pink;
  margin-bottom: 1em;
}

.services {
  width: 100vw;
  /* height: 80em; */
  background-color: pink;
  margin-bottom: 1em;
}

.services .contents-wrapper {
  width: 100%;
  height: calc((100vh - 5em) / 1.5);
  min-height: 20em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.services .contents-wrapper img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  /* height: 50%; */
  background-color: green;

}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30em;
  background-color: pink;
  margin-bottom: 1em;
}

.price .contents-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30em;
  background: rgb(240,240,255);
  margin-bottom: 1em;
}


.location .tabs-wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3em;
}

.location .tabs-wrapper .tab {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 3px;
}


.location .tabs-wrapper .active {
    background: rgb(240,240,255);
}

.location .contents-wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  border-right: 3px solid gray;
  width: 100%;
  height: 100%;
}

.location .contents-wrapper .content {
  width: 50%;
  height: 100%;
  border-right: 3px solid gray;
}

.location .contents-wrapper .content h2 {
  margin-bottom: 3em;
}

.location .contents-wrapper .maps {
  width: 50%;
  height: 100%;
  background-color: skyblue;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  /* height: 5em; */
  background-color: yellow;
}

.footer p {

  background-color: gray;
  color: white;
}

/* remとemの違いについて */
/* body {
  font-size: 16px;
}

div {
  font-size: 32px;
}

p {
  margin-top: 1em;  // 32px
  margin-bottom: 1rem;  // 16px
} */
